DB_NAME=
DB_PORT=
GATEWAY=
RPC_HTTP=
CHAIN_ID=
START_BLOCK=

# Core.
VAULT_ENGINE_ADDRESS=
USDR_ADDRESS=
COLLATERAL_ADAPTER_ADDRESS=

# Oracles.
OSM_ADDRESS=
PRICE_CONVERTER_ADDRESS=

# PSM.
PSM_ADDRESS=

# Reserve.
RESERVE_ACCOUNTING_ADDRESS=
SOLVENCY_ENGINE_ADDRESS=
BALANCE_SHEET_ADDRESS=

# Liquidation.
PRICE_CURVE_ADDRESS=
LIQUIDATION_TRIGGER_ADDRESS=
RAIN_CLIPPER_ADDRESS=
CIRCUIT_BREAKER_ADDRESS=

# Governance.
GOVERNOR_ADDRESS=
